<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="/img/ic_agrocontrolcr.png">

  <title>Declaración de privacidad de AgroControl CR</title>


  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/privacyPolicy.css">



</head>

<body>

  <nav class="navbar navbar-default">

    <div class="container">
      <div class="col-xs-4 navbar-header">

        <a href="https://play.google.com/store/apps/details?id=com.allanmendez.agrocontrolcr" class="navbar-brand">

          <img class="ic_main" alt="icon" src="/img/ic_agrocontrolcr.png">

        </a>

      </div>
    </div>
  </nav>


  <div class="container">

    <section class="col-xs-12">

      <h1>Política de privacidad</h1>

      <strong>Última actualización: Septiembre de 2018</strong>


    </section>

    <section class="col-xs-12">
      <h4><strong>Ámbito de la aplicación </strong></h3>

        <p> La presente política de privacidad y de protección de datos personales rige el tratamiento de los datos
          personales de los usuarios de la aplicación AgroControl CR, (en adelante la app), titularidad de Allan Cordero
          Méndez, en adelante el titular, portador de la cédula de identidad 304760711 con domicilio legal en Costa
          Rica, Centroamérica y con medio oficial para recibir notificaciones agrocontrolcr.info@gmail.com.
          A continuación se expone la Política de Privacidad y Protección de Datos aplicable a la app y a los datos
          personales que los usuarios faciliten cuando se registre en ella, utilicen sus diferentes servicios o
          herramientas, en adelante, los usuarios o el usuario.
        </p>
    </section>

    <section class="col-xs-12">

      <h4><strong>Finalidad del tratamiento</strong></h4>



      <p>La Política de Privacidad de la app está presidida por el cumplimiento de la legislación vigente en materia de
        protección de datos de carácter personal y la Ley 8968, Protección de la Persona frente al tratamiento de sus
        datos personales. En cumplimiento de lo establecido en la Ley 8968, el Titular informa que los datos de carácter
        personal proporcionados por el usuario en el momento de su registro, en el momento que sea requerido a futuro,
        así como aquellos datos a los que se pueda acceder como consecuencia de su navegación o utilización de los
        servicios de la app, serán incorporados a un fichero automatizado de los titulares, para su tratamiento con la
        finalidad de llevar a cabo la creación y mantenimiento de la relación jurídica de servicios establecida con los
        Titulares con motivo de su registro y participación en la app, la gestión, administración, prestación,
        ampliación y mejora de los servicios del Portal asociados a la app en los que el usuario decida suscribirse,
        darse de alta, solicitar recibir información por correo electrónico o utilizar, la adecuación de dichos
        servicios a las preferencias y gustos de los usuarios, el estudio de la utilización de los servicios por parte
        de los usuarios, la generación de estadísticas con arreglo a las diversas variables posibles (edad, origen
        geográfico, perfil de usuario, etc), el diseño de nuevos servicios, y el envío de información técnica y
        operativa acerca de los productos y servicios del Portal o relacionadas con la app. La finalidad de la
        información recogida y tratamiento automatizado de los Datos Personales puede incluir igualmente el envío de
        formularios de encuestas, que el Usuario no queda obligado a contestar. En el formulario de registro de usuarios
        al momento de ser habilitado, se informará siempre de esta política de privacidad y se exigirá el consentimiento
        a la misma por los usuarios para poder registrarse, en caso de ser necesario. En caso de requerir el registro
        del usuario; para registrarse en los distintos productos, será necesario facilitar el nombre, apellidos, cédula
        de identidad y una dirección de correo electrónico, ocupación y edad. </p>

      <div>
        <p>La aplicación utiliza servicios de terceros que pueden recopilar información utilizada para identificarlo.
        </p>
        <p>Enlace a la política de privacidad de proveedores de servicios de terceros utilizados por la aplicación</p>


        <ul>
          <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
          <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank">AdMob</a></li>
          <li><a href="https://firebase.google.com/policies/analytics" target="_blank">Firebase Analytics</a></li>
          <li><a href="http://try.crashlytics.com/terms/privacy-policy.pdf" target="_blank">Crashlytics</a></li>
        </ul>

      </div>
    </section>



    <section class="col-xs-12">
      <h4><strong>Proveedores de servicio</strong></h4>

      <p> Puedo emplear compañías e individuos de terceros debido a las siguientes razones:</p>
      <ul>
        <li>Para facilitar nuestro servicio;</li>
        <li>Para proporcionar el Servicio en nuestro nombre;</li>
        <li>Para realizar servicios relacionados con el servicio; o</li>
        <li>Para ayudarnos a analizar cómo se utiliza nuestro Servicio.</li>
      </ul>

      <p> Deseo informar a los usuarios de este Servicio que estos terceros tienen acceso a su Información personal. El
        motivo es realizar las tareas que se les asignaron en nuestro nombre. Sin embargo, están obligados a no divulgar
        ni utilizar la información para ningún otro fin.
      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Acceso a los datos personales de los usuarios por el titular</strong></h4>

      <p>Deseo informarle que cada vez que utiliza mi Servicio, en caso de error en la aplicación, recopilo datos e
        información (a través de productos de terceros) en su teléfono llamados Datos de registro. Este registro de
        datos puede incluir información como la dirección del protocolo de Internet ("IP") del dispositivo, el nombre
        del dispositivo, la versión del sistema operativo, la configuración de la aplicación al utilizar mi servicio, la
        hora y fecha de uso del servicio y otras estadísticas.
        Los usuarios quedan informados y autorizan que la app y el titular, en caso de ser necesario, podrán acceder a
        todos sus datos personales registrados.Este acceso tiene como finalidad permitir la adecuada funcionalidad y
        gestión de la app y productos en que se inscriba el usuario. </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Transferencia internacional de datos</strong></h4>


      <p>La app puede ofrecer productos desarrollados a nivel de Centroamérica, por lo que la inscripción o descarga con
        fuente extranjera puede suponer el acceso de éstas a los datos personales facilitados. Por ello, el usuario, al
        registrarse en la app o alguno de los productos, consiente dichas eventuales transferencias internacionales de
        datos.
      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Envío de comunicaciones comerciales por medios relacionados a la app y productos en que se inscriba el
          Usuario.</strong></h4>

      <p>El titular de la app y productos en que se inscriba el cliente, quedan autorizados por el usuario a utilizar
        sus datos con la finalidad de enviarle información comercial y promocional, y para el envío de información
        publicitaria, relativa a sus ofertas, cursos, productos y servicios, lo anterior en el tanto el usuario realice
        su manifestación expresa de voluntad, misma que puede ser revocada en el momento que lo disponga.
        Como consecuencia de lo anterior, en caso de que el usuario no quiera recibir este tipo de comunicaciones,
        deberá darse de baja, del medio relacionado a la app, de la recepción de material, mediante comunicación
        dirigida a agrocontrolcr.info@gmail.com. Para darse de baja será necesario que el usuario facilite su nombre,
        apellidos, cédula de identidad y la dirección de correo electrónico que desea excluir de la base de datos de
        contenido comercial.
      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Visibilidad del perfil</strong></h4>

      <p> El usuario queda informado y consiente que la app tendrá un nivel de visibilidad de los datos personales de su
        perfil que se describen a continuación:
      </p>

    </section>

    <section class="col-xs-12">

      <ul>
        <li>
          <p>
            <strong>Visibilidad privada de su perfil (visibilidad sólo para usuarios de la app)</strong>
          </p>
          <p> Con arreglo a este nivel de visibilidad, que se aplicará por defecto mientras el usuario no seleccione la
            Visibilidad pública de su perfil, que puede comprender la foto de perfil, nombre, apellidos, ubicación,
            biografía, url de facebook, twitter y linkedin, serán visibles para los demás usuarios inscritos en la app o
            Portal asociado y productos.
          </p>
        </li>
      </ul>


    </section>


    <section class="col-xs-12">
      <h4><strong>Ejercicio de los derechos de acceso, rectificación, cancelación y oposición.</strong></h4>

      <p> El usuario podrá ejercer gratuitamente sus derechos de acceso, rectificación, cancelación y oposición en
        relación con sus datos personales registrados en la app hasta tanto no se implemente un sistema de pago por
        acceso directo o acceso a complementos u otros servicios, cambio que será debidamente notificado a las personas
        usuarias la aplicación se constituye para uso de todo público.
      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Modificación de esta Política de privacidad</strong></h4>

      <p>Los titulares se reservan el derecho a modificar esta Política de Privacidad, de acuerdo a su propio criterio,
        o motivado por un cambio doctrinal, técnico y/o comercial de la app. Cualquier modificación de la Política de
        Privacidad será publicada al menos tres días antes de su efectiva aplicación. El uso de la app, de la plataforma
        asociada y servicios después de dichos cambios implicaría la expresa aceptación de los mismos.
        Versión 1.9-18
      </p>
    </section>



    <section class="col-xs-12">
      <h4><strong>CONDICIONES GENERALES DE USO E INFORMACIÓN AL USUARIO</strong></h4>

      <p> Los titulares de la app (en adelante los titulares) ponen a disposición de los usuarios de Internet la
        aplicación móvil de AgroControl CR, rigiéndose el acceso a los mismos y la utilización de sus servicios y/o
        contenidos por lo dispuesto en las presentes Condiciones Generales (en adelante, las "CONDICIONES GENERALES").
      </p>
    </section>


    <section class="col-xs-12">
      <h4><strong>Objeto y Modificación de condiciones.</strong></h4>

      <p> Los titulares ponen a disposición de los usuarios (en adelante, individualmente, el "USUARIO", y
        conjuntamente, los "USUARIOS") la posibilidad de uso de la app, siempre que lo hagan de acuerdo con lo previsto
        en las presentes CONDICIONES GENERALES. En cualquier caso, los titulares se reservan el derecho de, en cualquier
        momento y sin necesidad de previo aviso, modificar o eliminar el contenido, estructura, diseño, servicios y
        condiciones de acceso y/o uso de la app, siempre que lo estime oportuno, así como el derecho interpretar las
        presentes condiciones, en cuantas cuestiones pudiera plantear su aplicación. Los titulares del PORTAL son: Allan
        Cordero Méndez, portador de la cédula de identidad 304760711, con domicilio legal en Costa Rica, Centroamérica y
        con medio oficial para recibir notificaciones agrocontrolcr.info@gmail.com.
      </p>
    </section>


    <section class="col-xs-12">
      <h4><strong>Requisitos para el acceso, uso y utilización de los servicios y contenidos de los Portales.</strong>
      </h4>

      <p> Para la utilización de los servicios de la app, podrá ser requisito necesario estar registrado como USUARIO.
        Por otra parte, en algún momento histórico puede darse que algunos de los servicios de la app no serán
        accesibles sin el previo pago del valor o importe que, en su caso, corresponda de acuerdo con las Condiciones
        particulares de los mismos. El acceso a y/o uso de la app es totalmente voluntario y atribuye a quien lo realiza
        la condición de USUARIO. Todo USUARIO, esté o no registrado en la app o el portal asociado acepta, desde el
        mismo momento en el que accede, el contenido de las presentes CONDICIONES GENERALES así como, en su caso, las
        "Condiciones Particulares" que puedan complementarlas, sustituirlas o modificarlas en algún sentido en relación
        con los servicios y contenidos de la app y el portal asociado. En consecuencia, el USUARIO deberá leer
        detenidamente unas y otras antes del acceso y de la utilización de cualquier servicio del PORTAL bajo su entera
        responsabilidad. En cualquier caso, los titulares se reservan el derecho de, en cualquier momento y sin
        necesidad de previo aviso, denegar el acceso al PORTAL o desactivar o dar de baja a aquellos USUARIOS
        registrados que incumplan cualesquiera de estas CONDICIONES GENERALES o de las particulares que les sean de
        aplicación, de conformidad con lo dispuesto en el apartado 9 "Pérdida de la condición de usuario" de estas
        CONDICIONES GENERALES.

      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Principios Generales - Responsabilidad del Usuario</strong></h4>

      <p> El USUARIO se obliga a utilizar la app, conforme a la legislación vigente, según lo expuesto en los puntos
        anteriores, a los principios de buena fe y a los usos generalmente aceptados y a no contravenir con su actuación
        a través del PORTAL el orden público ni lo dispuesto en las presentes CONDICIONES GENERALES. Por tanto, queda
        prohibido todo uso con fines ilícitos o que perjudiquen o impidan, puedan dañar y/o sobrecargar, de cualquier
        forma, la utilización y normal funcionamiento de la app, o bien, que directa o indirectamente atenten contra los
        titulares, contra otras apps, contra los demás usuarios o contra cualquier tercero.
        El USUARIO de la app no transmitirá a través de los servicios, herramientas, utilidades, valoraciones o
        comentarios sobre contenidos de la app nada que atente contra los valores y la dignidad de las personas, de
        acuerdo con las normas nacionales e internacionales de protección de los derechos humanos.
        El USUARIO de la app se compromete a suministrar información verdadera y exacta acerca de él mismo en sus
        formularios de registro en caso de ser necesarios, y a consignar como e-mail externo uno de su titularidad.
        Asimismo, queda prohibida la reproducción, distribución, transmisión, adaptación o modificación, por cualquier
        medio y en cualquier forma, de los contenidos de la app o sus productos (textos, diseños, gráficos,
        informaciones, bases de datos, archivos de sonido y/o imagen, logos y demás elementos de estos sitios), salvo
        autorización escrita y previa de sus legítimos titulares.
        Se prohíbe, asimismo, respecto de los contenidos antes detallados, cualquier utilización comercial o
        publicitaria, distinta de la estrictamente permitida, en su caso, y la vulneración, en general, de cualquier
        derecho moral o patrimonial derivado de los mismos.
      </p>

    </section>


    <section class="col-xs-12">

      <h4><strong>Condiciones que deberán cumplir los usuarios que quieran establecer un hiperenlace entre su página web
          y la app o el portal asociado</strong></h4>

      <p> No se admite la reproducción de páginas de la app o del portal asociado mediante hiperenlace desde otro portal
        o página web, permitiéndose exclusivamente el acceso a los mismos sin que exista autorización previa. En ningún
        caso se podrá dar a entender que los titulares autorizan el hiperenlace o que ha supervisado o asumido de
        cualquier forma los servicios o contenidos ofrecidos por la app o portal asociado desde la que se produce el
        hiperenlace. No se podrán realizar manifestaciones o referencias falsas, incorrectas o inexactas sobre la app,
        las páginas y servicios de los titulares. La página desde donde se establece el hiperenlace no podrá tener
        ningún distintivo que haga referencia a la app o portan asociado exceptuando los signos integrados en el propio
        hiperenlace. Se prohíbe explícitamente la creación de cualquier tipo de navegador, programa, browser o border
        environment sobre las app o páginas del portal asociado. No se podrán incluir contenidos contrarios a los
        derechos de terceros, ni contrarios a la moral y las buenas costumbres aceptadas, ni contenidos o informaciones
        ilícitas, en la app página web asociada desde la que se establezca el hiperenlace. La existencia de un
        hiperenlace entre una página web y la app o el portal asociado no implica la existencia de relaciones entre los
        titulares y el propietario de esa página, ni la aceptación y aprobación de sus contenidos y servicios.

      </p>

    </section>

    <section class="col-xs-12">

      <h4><strong> Responsabilidad del USUARIO. Introducción de comentarios en blogs y foros. Medidas de seguridad.
        </strong></h4>


      <ul>
        <li>
          <p><strong> Responsabilidad del usuario. </strong></p>
          <p> El USUARIO será el único responsable por el uso de la app y por el cumplimiento de estas CONDICIONES
            GENERALES en su totalidad. En consecuencia, el USUARIO se obliga a mantener en secreto, con el carácter de
            información confidencial y reservada, en caso de ser necesario por sus claves de acceso, contraseñas o datos
            similares asignados para acceder a la app o portal asociado o a cualquiera de sus servicios, siendo
            responsable de cualesquier daños y perjuicios de toda naturaleza derivados del mal uso realizado por sí o
            por terceros, tanto contra el mismo USUARIO, considerándose los daños que sufra como consecuencia de su
            negligencia, como los que puedan sufrir los titulares como consecuencia del incumplimiento de las presentes
            CONDICIONES GENERALES. Respecto a la introducción de comentarios en blogs externos y foros externos es
            responsabilidad del usuario la violación a derechos de terceros producidos por las manifestaciones asociadas
            a la app.
          </p>
        </li>
      </ul>



      <ul>
        <li>
          <p><strong>Utilización de los servicios de la app</strong></p>
          <p> A través de los servicios del PORTAL asociado a la app, el USUARIO podrá compartir información,
            comunicarse y conectar con otros usuarios del mismo. En relación con la utilización de estos servicios del
            USUARIO asume las siguientes obligaciones:</p>

          <ol class="d">
            <li>Dar cumplimiento a un "compromiso de honestidad" de la app.</li>

            <li>El USUARIO utilizará los servicios de la app para su uso personal y de contenido relacionado a la
              funcionalidad de la misma, su uso no tiene fines directos económicos o comerciales sin contar con la
              previa autorización de los titulares.</li>


            <li>El USUARIO no proporcionará información personal falsa en la Red, y será el único responsable de la
              comunicación real y veraz de sus datos personales. </li>

            <li>El USUARIO, en caso de ser necesario, no creará una cuenta de perfil falsa, ni suplantará la
              personalidad de un tercero.</li>

            <li>El USUARIO se compromete a realizar un uso en cumplimiento del bloque de legalidad de la app y el portal
              asociado y de sus contenidos.</li>

            <li> El USUARIO se obliga a que toda publicación de contenidos que lleve a cabo en relación a la app o en el
              Portal asociado, dentro de los foros, blogs o cualquier otra funcionalidad, no viole en modo alguno la
              normativa vigente, derechos de propiedad intelectual, derechos contractuales, ni ningún otro tipo de
              derecho que pudiera ostentar cualquier persona física o jurídica, pública o privada. Los titulares no
              serán responsables en ningún caso de la utilización indebida de la app y del Portal asociado y de sus
              contenidos, siendo el USUARIO el único responsable por los daños y perjuicios que pudieran derivarse de un
              mal uso de los mismos o de la infracción de lo dispuesto en las presentes condiciones en que pueda
              incurrir. El USUARIO se compromete a mantener indemne a los titulares frente a las reclamaciones o
              sanciones que pudiera recibir de terceros, ya sean particulares o entidades públicas o privadas, por razón
              de dichas infracciones así como frente a los daños y perjuicios de todo tipo que pueda sufrir como
              consecuencia de las mismas. Los titulares podrán retirar cualquier comentario, contenido e información
              publicados en el portal asociado a la app si consideran que se están violando las presentes obligaciones
              por parte del USUARIO o si cualquiera de los titulares recibe una reclamación de un tercero por infracción
              de las condiciones aquí contempladas o cuando pueda generar perjuicios para éste.</li>
          </ol>

        </li>
      </ul>

    </section>

    <section class="col-xs-12">

      <h4><strong>Exclusión de Garantías y de Responsabilidad</strong></h4>

      <p> Los titulares no garantizan ni se hacen responsables, en ningún caso ni circunstancia, de los siguientes
        hechos y contenidos, ni de cualesquiera daños y perjuicios que pudieran, en su caso, derivarse de los
        mismos:Falta de disponibilidad, continuidad, acceso, mantenimiento y efectivo funcionamiento del PORTAL y/o de
        sus servicios y actualización, exactitud, exhaustividad, pertinencia, actualidad y fiabilidad de sus contenidos,
        cualquiera que sea la causa y las dificultades o problemas técnicos o de otra naturaleza en los que tengan su
        origen dichos hechos. Del uso ilícito, negligente, fraudulento, suplantando la personalidad de un tercero o
        contrario al contenido de estas CONDICIONES GENERALES, a la buena fe, a los usos generalmente admitidos o al
        orden público, de la app y el portal asociado y contenidos, por los USUARIOS. De las vulneraciones o
        infracciones de las leyes, usos o costumbres vigentes en materia de derechos de propiedad intelectual, propiedad
        industrial, secretos empresariales o contractuales, derechos de intimidad, honor, imagen, propiedad, publicidad
        o competencia, entre otros, de terceros. Vicios o defectos de los contenidos y/o servicios a los que se acceda a
        través de la app o del portal asociado en general o al mal uso del USUARIO o que respondan a especificidades no
        aclaradas previamente a los titulares por escrito y comunicadas o consultadas por los medio oficiales. Por la
        recepción, almacenamiento, obtención, difusión o transmisión por parte de los USUARIOS, de contenidos de la app
        o un portal asociado. Por el conocimiento de cualquier información que pudieran poseer o utilizar terceras
        personas no autorizadas de las características y circunstancias del uso de los contenidos y servicios del PORTAL
        por los USUARIOS. Por el incumplimiento, por parte de terceros, de sus obligaciones o garantías derivadas o
        contraídas en relación con los servicios prestados a los USUARIOS a través de la app o del portal asociado, así
        como por la falta de calidad, fiabilidad, adecuación a lo ofertado, licitud, utilidad y disponibilidad de los
        servicios prestados por terceros y puestos a disposición de los USUARIOS en la app o el portal asociado. La
        enumeración anterior tiene mero carácter enunciativo y no es, en ningún caso, exclusivo ni excluyente en ninguno
        de sus puntos. En todos los supuestos, los titulares EXCLUYEN CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y
        PERJUICIOS DE CUALQUIER NATURALEZA DERIVADOS DIRECTA O INDIRECTAMENTE DE LOS MISMOS Y DE CUALESQUIERA OTROS NO
        ESPECIFICADOS DE ANÁLOGAS CARACTERÍSTICAS.

      </p>
    </section>


    <section class="col-xs-12">
      <h4><strong>Enlaces en los portales asociados a la app</strong></h4>

      <p> El PORTAL asociado a la app por medio de los titulares (en adelante PORTAL) puede incluir dentro de sus
        contenidos enlaces con sitios pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso a
        información y servicios disponibles a través de Internet. Los titulares no asume ninguna responsabilidad
        derivada de la existencia de enlaces entre los contenidos del PORTAL y contenidos situados fuera de los mismos o
        de cualquier otra mención de contenidos externos a este sitio. Tales enlaces o menciones tienen una finalidad
        exclusivamente informativa y, en ningún caso, implican el apoyo, aprobación, comercialización o relación alguna
        entre los titulares y las personas o entidades autoras y/o gestoras de tales contenidos o titulares de los
        sitios donde se encuentren, ni garantía alguna de los titulares por el correcto funcionamiento de los sitios o
        contenidos enlazados. En este sentido el USUARIO se obliga a poner la máxima diligencia y prudencia en el caso
        de acceder o usar contenidos o servicios de los sitios a los que acceda en virtud de los mencionados enlaces.

      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Derechos de Propiedad Intelectual e Industrial</strong></h4>

      <p> Los textos, diseños, imágenes, bases de datos, logos, estructura, marcas y demás elementos de la app y del
        portal asociado están protegidos por las leyes costarricenses y los tratados internacionales sobre propiedad
        intelectual e industrial. Cualquier reproducción, transmisión, adaptación, traducción, modificación,
        comunicación al público, o cualquier otra explotación de todo o parte del contenido de este sitio, efectuada de
        cualquier forma o por cualquier medio, electrónico, mecánico u otro, están estrictamente prohibidos salvo
        autorización previa por escrito de su correspondiente titular. Cualquier infracción de estos derechos puede dar
        lugar a procedimientos extrajudiciales o judiciales civiles o penales que correspondan. Los titulares no
        conceden ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad intelectual e
        industrial, o sobre cualquier otra propiedad o derecho relacionado con la app o el portal asociado, sin
        autorización escrita previa. A los efectos de preservar los posibles derechos de propiedad intelectual, en el
        caso de que cualquier USUARIO o un tercero considere que se ha producido una violación de sus legítimos derechos
        por la introducción de un determinado contenido en la app o el portal asociado, deberá notificar dicha
        circunstancia, por escrito, a los titulares, indicando: a.- Datos de carácter personal identificativos del
        interesado titular de los derechos presuntamente infringidos. Si la reclamación la presenta un tercero distinto
        del interesado, deberá indicar y demostrar la representación con la que actúa. b.- Indicación de los contenidos
        protegidos por los derechos de propiedad intelectual y su ubicación en la app o el portal asociado. c.-
        Acreditación de la existencia, titularidad y vigencia de los citados derechos de propiedad intelectual. d.-
        Declaración expresa en la que el interesado se responsabilice de la veracidad de los datos e información
        facilitados en la notificación a que se refiere este punto.
      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Pérdida de la condición usuario</strong></h4>

      <p> El USUARIO registrado, en el momento en que se disponga la necesidad de registro, podrá darse de baja en el
        portal asociado a la app, perdiendo la condición de tal, y los derechos y datos asociados a su cuenta,
        libremente y en cualquier momento, sin más requisito que solicitarlo por escrito dirigido a
        agrocontrolcr.info@gmail.com, indicando el correo electrónico utilizado en el asociado, o con indicación de este
        correo electrónico, su nombre, apellidos y contraseña. Asimismo, podrá darse de baja en cualquier momento, y en
        caso de ser aplicable; no será procedente reembolso alguno. Los titulares también podrán dar de baja al USUARIO,
        extinguiéndose la relación establecida entre ambos y perdiendo éste los derechos derivados de tal condición y
        los datos asociados a su cuenta asociada a la app o al portal asociado, en los siguientes casos: a.- Si el
        USUARIO incumple alguna de las presentes CONDICIONES GENERALES. b.- Si la prestación de los servicios de la app
        o del portal asociado deja de ser, a juicio de los titulares, comercialmente viable. La pérdida de la condición
        de USUARIO no excluye la aplicación de las presentes condiciones, que seguirán siendo aplicables a las
        cuestiones o reclamaciones que puedan plantearse entre los titulares y el USUARIO, después de haber pedido éste
        tal condición. En caso de ser aplicable, en las licencias de uso se pierde la condición de usuario por el no
        pago de un mes de la licencia citada.

      </p>

    </section>


    <section class="col-xs-12">
      <h4><strong>Legislación Aplicable y Jurisdicción</strong></h4>

      <p> El acceso, uso y/o utilización de los servicios o contenidos en la app o el portal asociado, las presentes
        CONDICIONES GENERALES en todo cuanto los regulan y cuantas cuestiones se deriven de los mismos quedan sujetos a
        la legislación costarricense. Para cuantas cuestiones pudieran suscitarse o acciones ejercitarse derivadas de la
        gestión de la app por los titulares y de los servicios y contenidos en la misma, y sobre la interpretación,
        aplicación, cumplimiento o incumplimiento de lo aquí establecido, el USUARIO, con renuncia expresa a cualquier
        otro fuero que pudiera corresponderles, se somete a un proceso de Resolución Alterna de Conflictos, propiamente
        una Conciliación Basada en la ley 7727, Ley de resolución Alterna de Conflictos y Promoción de la Paz Social, de
        previo a ejercer acciones en los Juzgados y Tribunales de Costa Rica. Versión.1.9-18.

      </p>

    </section>


  </div>


  <footer>


    <div class="row">

      <div class="col-md-2 col-md-offset-1 .col-sm-4 col-sm-offset-1 col-xs-2 col-xs-offset-1 ">
        <a href="https://play.google.com/store/apps/details?id=com.allanmendez.agrocontrolcr">
          <img class="ic_main" src="/img/ic_agrocontrolcr.png" class="img-responsive">
        </a>
      </div>

      <div style="padding: 20px" class="col-md-4 col-md-offset-5  .col-sm-3 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        <p>Allan Cordero Méndez (Costa Rica)</p>
        <p>© 2018 AgroControl CR. All rights reserved.</p>
      </div>

    </div>

    <!--
    <div class="col-xs-5 col-sm-3 col-md-3">
        <img id="ima-footer" src="static/img/ic_agrocontrolcr.png" class="img-responsive" >
    </div> 

    <p>© 2018 AgroControl CR. All rights reversed.</p>

    <div class="col-xs-7 col-sm-8 col-md-8">
        <p>Allan Cordero Méndez (Costa Rica)</p>
    </div>

-->
  </footer>

</body>

</html>